#tracker {
    position: fixed;
    width: 100%;
    display: block;
    background: #aaffaa;
    bottom: 0px;
    z-index: 9999;
    padding: 10px
}

#notification {
    position: fixed;
    width: 25%;
    left: 40%;
    text-align: center;
    display: block;
    background: #aaffaa;
    top: 20px;
    z-index: 9999;
    padding: 10px
}

#welcome {
    position: fixed
}

.topNotification {
    text-align: center;
    font-size: .9em;
    width: 60%;
    margin: 0 20%;
    display: block;
    background: #aaffaa;
    top: 20px;
    z-index: 9999;
    padding: 10px 50px
}

#sus {
    position: absolute;
}

#sus table {
    width: 80%;
    margin: 0 10%
}

#sus td {
    width: 20%;
    font-size: .8em;
    text-align: center
}

.susRadio {
    cursor: pointer
}

.tracker-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-appearance: button;
}

#welcome>p.field {
    text-align: left
}

#welcome>p.field input {
    width: 80px
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 9998;
}