#tracker.trackerRunning {
    position: fixed;
    width: auto;
    display: block;
    background: #f26f54;
    color: #000;
    z-index: 9999;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 10px;
    border-radius: 8px;
    -webkit-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.39);
    box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.39);
}

#buttonsInstructions {
  display: block;
  font-size: 14px;
  margin: 18px 0;
}

#tracker.trackerRunning #buttonsInstructions{
  display: none;
}

#wen-component {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

#trackerInstructions {
  font-size: 18px;
  color: white
}

#wen-message-component,
#tracker.trackerNotStartedOrPaused,
#sus,
#welcome {
    top: 20%;
    font-family: Arial, Helvetica, sans-serif;
    background: #f26f54;
    color: white;
    font-size: 14px;
    position: fixed;
    z-index: 9999;
    border-radius: 10px;
    width: auto;
    -webkit-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.39);
    box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.39);
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 30px 50px;
    bottom: auto !important;
}

#wen-message-component h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

#wen-message-component h1 {
    font-size: 20px;
}
#wen-message-component input, #tracker input, #susbutton, #welcome-button, #welcome input  {
    color: black;
    padding: 4px 12px;
    border-radius: 4px;
    border: 1px solid #aaa;
}

#wen-message-component input#experiment {
    font-size: 18px;
    margin: 10px 0;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
  }

#wen-message-component > * {
  margin: 20px 0;
  }

#buttonsInstructions strong {
    border: 1px solid;
    border-radius: 4px;
    padding: 4px;
    font-weight: normal;
}

#notification {
    position: fixed;
    width: 25%;
    left: 40%;
    text-align: center;
    display: block;
    background: #f26f54;
    color: #000;
    top: 20px;
    z-index: 9999;
    padding: 10px
}

#welcome {
    position: fixed
}

.topNotification {
    text-align: center;
    font-size: .9em;
    width: 60%;
    margin: 0 20%;
    display: block;
    background: #f26f54;
    color: #000;
    top: 20px;
    z-index: 9999;
    padding: 10px 50px
}

#sus {
    top: 2%;
    width: 60%;
    padding: 0 50px 10px 0;
}

#sus table {
    width: 80%;
    margin: 0 10%
}

#sus tr td{
    width: 8% ! important;
}

#sus tr td:first-child {
    width: 30% ! important;
}
#sus tr td:last-child {
    width: 30% ! important;
}

#sus .susQuestionTd{
    padding-top: 15px;
}

.susRadio {
    cursor: pointer;
    height: 22px;
    width: 22px;
}

.tracker-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-appearance: button;
}

#welcome>p.field {
    text-align: left
}

#welcome>p.field input {
    width: 80px
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 9998;
}
